*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lateef', Raleway;
}

section{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.servicies{
    display: flex;
    justify-content: space-around;
}

.servicies, .container-collage, .container-info, section{
    border:1px solid #000;
}

h1{
    text-align: end;
    padding-right:10px;
    font-size: 3.5em;
    font-family: 'Raleway', sans-serif;
}

ul li{
    font-size: 1.6em;
}


.container-collage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:4em;
}


.grid-collage{
    max-width:400px;
    max-height:420px;
    display: grid;
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(7, 60px);
    grid-gap: 10px;
    margin-top:-80px;
}
 
.item{
    border:1px solid #000;
}

.grid-collage .item img{
    width:90%; height:100%;
    object-fit: cover;
}


.grid-collage .item:nth-child(1) { grid-area: 1 / 2 / 3 / 3; }
.grid-collage .item:nth-child(2) { grid-area: 2 / 1 / 4 / 2; }
.grid-collage .item:nth-child(3) { grid-area: 3 / 2 / 5 / 3; }
.grid-collage .item:nth-child(4) { grid-area: 5 / 2 / 7 / 3; }
.grid-collage .item:nth-child(5) { grid-area: 4 / 1 / 6 / 2; }
.grid-collage .item:nth-child(6) { grid-area: 6 / 1 / 8 / 2; }



